<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
      <div ng-app="FlashCardApp">
        <div ng-controller="StatsController" id="statistics">
            <div id="scoreboard">
                <h3>Correct: <span>{{ scores.correct }}</span></h3>
                <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
            </div>

        </div>
        <div ng-controller="MainCtrl">
          <button
            ng-repeat="category in categories"
            class="category-button"
            ng-click="filterByCategory(category)"
            ng-class="{active: activeCat == category}">{{ category }}</button>
          <loader ng-hide="flashCards"></loader>
          <div ng-controller="AddCard">
            <pre>{{ newCard | json }}</pre>
            <form name="cardForm" ng-submit="postFlashCard()">
              <h3>question</h3>
              <p>
                <input type="text" ng-model="newCard.question" required>
              </p>
              <h3>category</h3>
              <p>
                <select ng-model="newCard.category" required>
                  <option ng-repeat="category in categories">{{ category }}</option>
                </select>
              </p>
              <h3>answers</h3>
              <p ng-repeat="answer in newCard.answers">
                <input
                  type="radio"
                  name="correctAnswer"
                  ng-model="answer.correct"
                  ng-change="setCorrect(answer)"
                  ng-value="true">
                <input
                  type="text"
                  ng-model="answer.text" required>
              </p>
              <input type="submit">
            </form>
          </div>
          <flash-card
            ng-repeat="flashCard in flashCards | orderBy: 'question'"
            card="flashCard"
          ></flash-card>
        </div>
      </div>
      <script src="angular.js"></script>
      <script src="app.js"></script>
      <script src="controllers/flashCard.controller.js"></script>
      <script src="controllers/main.controller.js"></script>
      <script src="controllers/stats.controller.js"></script>
      <script src="controllers/addCard.controller.js"></script>
      <script src="factories/flashCard.factory.js"></script>
      <script src="factories/score.factory.js"></script>
      <script src="directives/loader/loader.directive.js"></script>
      <script src="directives/flashCard/flashCard.directive.js"></script>
      <script src="directives/borderOnHover/borderOnHover.directive.js"></script>
    </body>
</html>