
<button
            ng-repeat="category in categories"
            class="category-button"
            ng-click="filterByCategory(category)"
            ng-class="{active: activeCat == category}">{{ category }}</button>
<loader ng-hide="flashCards"></loader>

<div ng-repeat="theCard in flashCards" ng-controller="FlashCardCtrl">
  <div class="flash-card"   border-on-hover>
    <button ui-sref="manageCardView.editView({id:theCard._id})">Edit Card</button>
    <button ui-sref="manageCardView.deleteView({id:theCard._id})">Delete Card</button>
      <!-- <ui-view></ui-view> -->
      <h1>
        {{theCard.question}}
      </h1>

      <h2
        ng-show="answered"
        class="answer-feedback"
        ng-class="{ correct: answeredCorrectly, incorrect: !answeredCorrectly }">{{ feedback }}</h2>

      <ul class="flash-card-answers">
          <li class="flash-card-answer"
              ng-click="answerQuestion(answer)"
              ng-repeat="answer in theCard.answers">
              {{ answer.text }}
          </li>
      </ul>
  </div>
 </div>



 <!-- <div>

    <p> Hello</p>
 </div> -->